<!DOCTYPE html>
<html>
  <head>
    <title>CRYPTO TRACKING</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  </head>
  <body>
    <h1>CRYPTO TRACKING</h1>
    <%- body %>
  </body>
</html>
